footer#colophon {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 30em) minmax(auto, 30em) 1fr;
    justify-content: space-around;
    flex-wrap:wrap;
    background-color:$color_warm_green;
    color:$color_light_beige;
    width: 100%;
    a {
        color:$color_light_beige;
    }

    svg {
        fill: $color_light_beige;
      }

}
nav#footer-navigation{
    flex-wrap:nowrap;
}

.socmednav ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding: .2rem;

    li {
        padding:.3rem;
    }
}
.site-info {
    grid-column: 2/3;
    margin-left: 1rem;

}
