body.login {
  background-color: #faf4e4;
  display: flex;
  flex-direction: column;
}

body.login div#login form#loginform {
  background-color: #1f2c09;
  color: #faf4e4;
  padding: 5rem;
  width: 60%;
}

body.login div#login form#loginform p label {
  padding: 1rem;
}

body.login div#login form#loginform input#user_login {
  background-color: #faf4e4;
  color: #1f2c09;
}
body.login div#login form#loginform input#user_pass {
  background-color: #faf4e4;
  color: #1f2c09;
}

body.login div#login form#loginform p.forgetmenot input#rememberme {
  background-color: #faf4e4;
  color: #1f2c09;
}

body.login div#login form#loginform p.submit input#wp-submit {
  color: #1f2c09;
  background-color: #faf4e4;
  font-size: medium;
}

body.login .privacy-policy-link {
  text-decoration: none;
  color: #1f2c09;
}
