// customized colors

$color__background-body: #faf4e4;
$color__background-screen: #e7dbba;
$color__background-hr: #a8a679;
$color__background-button: #e7dbba;
$color__background-pre: #eee;
$color__background-ins: #e7dbba;

// defaults left for accessibility purposes

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #1a100c;
$color__link: #4d2f1f;
$color__link-visited: #703e24;
$color__link-hover: #3f170d;
$color__text-main: #110a07;

// customized buttom colors

$color__border-button: #c5ac8e #c5ac8e #bdae9b;
$color__border-button-hover: #c5ac8e #bdae9b #aa9e90;
$color__border-button-focus: #aa9e90 #bdae9b #bdae9b;
$color__border-input: #c5ac8e;
$color__border-abbr: #66795c;

// beginning of cozy custom colors

$color_warm_brown: #4d2f1f;
$color_dark_brown: #1a100c;
$color_light_beige: #faf4e4;
$color_medium_beige: #e7dbba;
$color_warm_sand: #a6855d;
$color_warm_sage: #a8a679;
$color_warm_green: #48611d;
$color_dark_green: #1f2c09;
